<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
    <div class="col-md-4">
    <h1>Books</h1>
    </div>
     <table class="table table-striped">
		<tr>
            <th>Id</th>
		    <th>Author</th>
            <th>Title</th>
		    <th>Publication year</th>
            <th>Isbn</th>
            <th>Price</th>
		</tr>  

    	<tr th:each = "book : ${books}">
            <td th:text="${book.id}"></td>
    		<td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
    		<td th:text="${book.publicationYear}"></td> 
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.price}"></td>	
            <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
            <td><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>    		
    	</tr>

     </table>
     <br>
     <a href="/add">Add Book</a> 
</div>  
    
    
    




</body>
</html>
