<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
    <div class="col-md-4">
    <h1>Books</h1>
    <h1>Hello <span sec:authentication="name"></span>!</h1>
    </div>
     <table class="table table-striped">
		<tr>
            <th>Id</th>
		    <th>Author</th>
            <th>Title</th>
		    <th>Publication year</th>
            <th>Isbn</th>
            <th>Price</th>
            <th>Category</th>
		</tr>  

    	<tr th:each = "book : ${books}">
            <td th:text="${book.id}"></td>
    		<td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
    		<td th:text="${book.publicationYear}"></td> 
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.kategoria !=null ? book.kategoria.name : 'Ei kategoriaa'}"></td>
            <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
    	</tr>

     </table>
     <br>
     <a href="/add" class="btn btn-success">Add Book</a>

<p>

          <form action="/logout" method="post">
        <input type="submit" class="btn btn-danger" value="Sign out" />
     </form>



</div>  


</body>
</html>
